.animation-div{
 width: 150px;
 height: 150px;
 position: relative;
 animation-name: globe;
 animation-duration: 7s;
 animation-delay: 2s;
}

/* @keyframes globe {
 0%   {left:130px; top:0px;}
 25%  {left:160px; top:0px;}
 50%  {left:160px; top:130px;}
 75%  {left:130px; top:130px;}
 100% {left:130px; top:0px;}
} */

.animation-text{
 padding-left: 450px;
}