doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     div(class="wrap_header")
      img.icon(src="/images/icon.jpg" alt="IMG-LOGO")
     block content
